<img src="/image/cat_pilote.png" alt="Casque de pilote" />
<h1>Gestion des pilotes</h1>

<a href="/admin/pilotes/add"> <img src="/image/act_add.png" alt="Ajout_image" />Ajouter un pilote</a>

{{#if ajout}}
  <div>
    <strong>
      {{this}}
    </strong>
  </div>
{{/if}}

{{#if pilotes}}
  <table>
    <tr>
      <th> Nom </th>
      <th> Prénom </th>
      <th> Date de naissance </th>
      <th> Actions</th>
    </tr>
    {{#each pilotes}}
      <tr>
        <td>
          {{ this.pilnom }}
        </td>
        <td>
          {{ this.pilprenom}}
        </td>
        <td>
          {{formatDate this.pildatenais "DD/MM/YYYY"}}
        </td>
        <td>
          <a href="/admin/pilotes/update/{{this.pilnum}}">Modifier</a> |
          <a href="/admin/pilotes/delete/{{this.pilnum}}">Supprimer</a>
        </td>
      </tr>
    {{/each}}
  </table>

{{else}}
  <p>Aucun pilote enregistré</p>
{{/if}}
