<div class="mycenter">
  <h1>Ajouter un circuit</h1>
  <form action="#" method="post" enctype="multipart/form-data">
    <p>
      <label for="cirnom">Nom</label>
      <br/>
      <input type="text" name="cirnom" value="{{circuit.cirnom}}" id="cirnom" required>
    </p>

    <p>
      <label for="cirlongueur">Longueur</label>
      <br/>
      <input type="number" name="cirlongueur" id="cirlongueur" value="{{circuit.cirlongueur}}" required>
    </p>

    <p>
      <label for="paynum">Pays</label>
      <br/>
      <select id="paynum" name="paynum">
        {{#each pays}}
          <option value="{{this.paynum}}">{{this.paynom}}</option>
        {{/each}}
      </select>
    </p>

    <p>
      <label for="ciradresseimage">Image</label>
      <br/>
      <input type="file" name="ciradresseimage" id="ciradresseimage" multiple="multiple">
      <p><img src="/image/circuit/{{circuit.ciradresseimage}}" alt="Aperçu non disponible." id="userPicture" /></p>
    </p>

    <p>
      <label for="cirnbspectateurs">Nombre de spectateurs</label>
      <br/>
      <input type="number" value="{{circuit.cirnbspectateurs}}" name="cirnbspectateurs" id="cirnbspectateurs" required>
    </p>

    <p>
      <label for="cirtext">Description</label>
      <br/>
      <input type="text" name="cirtext" id="cirtext" value="{{circuit.cirtext}}" required>
    </p>

    <input type="hidden" name="cirnum" value="{{circuit.cirnum}}">

    <input type="submit" value="Ajouter">

  </form>
</div>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#userPicture').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#ciradresseimage").change(function() {
    readURL(this);
  });
</script>
