{{#if circuit}}
  <img class="image-float" height="200px" width="200px" src="/image/circuit/{{circuit.ciradresseimage}}" alt="Image du circuit" />
  <p>Nom : {{circuit.cirnom}}</p>
  <p> Longueur : {{circuit.cirlongueur}}</p>
  <p> Nombre de spectateurs : {{circuit.cirnbspectateurs}}</p>
  <p> Pays : {{circuit.paynom}}</p>
  <p> Texte : {{circuit.cirtext}}</p>
{{/if}}
