{{#if pilote}}
  <div>
    <div>
      <img class="image-float" src="/image/pilote/{{listePhotosPilote.0.phoadresse}}" alt="{{listePhotosPilote.0.phocommentaire}}" />
    </div>
    <div>
      <p>Nom : {{pilote.pilnom}} {{pilote.pilprenom}}
        <br/> Date de naissance : {{formatDate pilote.pildatenais "DD/MM/YYYY" }}</p>
      <p> Nationalité : {{pilote.paynom}}</p>
      <p> Ecurie :
        {{#if ecuriePilote.ecunom}}
          {{ecuriePilote.ecunom}}
        {{else}}
          Aucune écurie cette année
        {{/if}}
      </p>
      <p>
        Poids : {{pilote.pilpoids}}
        <br/> Taille : {{pilote.piltaille}}
      </p>
    </div>

    {{> listeSponsors}}

    <p>Qui suis-je ?</p>
    <p>
      {{pilote.piltexte}}
    </p>

    {{> listePhotosPilote}}
  </div>
{{/if}}
